@import "tailwindcss";

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
